<!DOCTYPE html>
{% load static compress %}
<html lang="nl" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}Nederlandse Heidegger-bibliografie{% endblock %}</title>
        {% block head %}{% endblock %}
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'nederlandse_heidegger_bibliografie/_index.scss' %}">
        {% endcompress %}
    </head>
    <body>
        <div class="container-md">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>