hr {
    margin: 1em;
}

.entry-container {
    scroll-behavior: smooth;
    min-height: 100vh;
}

.cit-section {
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    text-align: left;
    font-size: 0.8em;
    font-weight: 400;
    color: var(--body-color);

    &__index-status {
        margin-left: 1em;
    }

    ul {
        opacity: 0.7;
    }
}

.cited-by-section {
    display: flex;
    flex-direction: column-reverse;

    &__header {
        height: 10vh;
        margin-bottom: 0;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 10vh;
        margin-bottom: 0;
        opacity: 0.8;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__header h2 {
        margin: 0;
    }
}

.cits-in-work-section {
    display: flex;
    flex-direction: column;

    &__header {
        height: 10vh;
        margin-bottom: 0;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 10vh;
        margin-bottom: 0;
        opacity: 0.8;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__header h2 {
        margin: 0;
        margin-bottom: 0.5em;
    }

}

.icon-arrow-square-in {
    margin-bottom: -1em;;
}

.entry-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    margin-block: 5vh;
    border: 1px solid var(--body-color);
    border-left-width: 0;
    border-right-width: 0;


  &__author {
    margin: -0.5rem 0 2rem;
  }

}