{% extends '_site_base.html' %}

{% block head_title %}{{ bib_entry.title }}{% endblock head_title %}

{% block body %}
{% url 'home' as home_url %}
{% include '_menu_button.html' with href=home_url icon="books" %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const element = document.getElementById("cits-in-work-header");

    element.scrollIntoView({
        behavior: "instant",
        block: "end",
    });
    
}, false);
</script>
<div class="entry-container">
    <div id="cited-by-section" class="cit-section cited-by-section">
        <div id="cited-by-header" class="cited-by-section__header">
            <i class="icon-caret-up"></i>
            <h2 class="h3 icon-arrow-square-in">Geciteerd in</h2>
        </div>
        <ul class="cited-by-section__list">
            {% for i in bib_entry.cited_by.all %}
            <li><a href="{% url 'entry' i.id %}">{{ i.reference | safe }}</a></li>
            {% empty %}
            <li>Dit werk wordt niet geciteerd in andere werken in deze bibliografie.</li>
            {% endfor %}
        </ul>
    </div>

    <div id="entry-detail" class="entry-detail">
        <h1>{{ bib_entry.title }}</h1>
        {% if bib_entry.author.all %}
        <div class="entry-detail__author">
            {% for author in bib_entry.author.all %}
            <a class="badge badge--secondary badge--large icon-user" href="{% url 'author' author.id %}">
                {{ author.name }}
            </a>
            {% endfor %}
        </div>
        {% endif %}
        {% if bib_entry.reference %}{{ bib_entry.reference | safe }}{% endif %}
    </div>
    
    <div id="cits-in-work-section" class="cit-section cits-in-work-section">
        <div id="cits-in-work-header" class="cits-in-work-section__header">
            <h2 class="h3 icon-arrow-square-out">Citeert</h2>
            <i class="icon-caret-down"></i>
        </div>
        <span class="cit-section__index-status">
        {% if not bib_entry.indexed %}
            ! - Referenties niet compleet geïndexeerd
        {% else %}
            &check; - Citaten geïndexeerd<br>
        {% endif %}
        </span>
        <ul>
            {% for i in bib_entry.citations.all %}
            <li><a href="{% url 'entry' i.id %}">{{ i.reference | safe }}</a></li>
            {% empty %}
            <li class="cit-section__index-status">
                Er worden geen werken uit deze bibliografie in dit werk geciteerd.
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}