{% extends '_site_base.html' %}

{% block body %}
{% include '_menu_button.html' with href="/" icon="house" %}

<h1>Nederlandse Heidegger-bibliografie</h1>

<h2>Gesorteerd op auteur</h2>

{% regroup bibliography by first_letter as bibliography_list %}

{% for first_letter, items in bibliography_list %}
<h3 id="{{ first_letter }}">{{ first_letter }}</h3>
<ul>
    {% for i in items %}
    <li><a href="{% url 'entry' i.id %}">{{ i.reference | safe }}</a></li>
    {% endfor %}
</ul>
{% empty %}
    <p>Geen uitgaven gevonden.</p>
{% endfor %}

<h2>Gesorteerd op jaartal</h2>

{% regroup bibliography|dictsortreversed:"year_issued" by year_issued as bibliography_list %}

{% for year_issued, items in bibliography_list %}
<h3 id="{{ year_issued }}">{{ year_issued }}</h3>
<ul>
    {% for i in items %}
    <li><a href="{% url 'entry' i.id %}">{{ i.reference | safe }}</a></li>
    {% endfor %}
</ul>
{% empty %}
    <p>Geen uitgaven gevonden.</p>
{% endfor %}

{% endblock body %}